/* Estilos para el contenedor */
.Contenedor-general {
    padding: 10px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .modal .modal-content {
    background: white;
    padding-left: 0px;
    border-radius: 5px;
    width: 60%;
    
  }
  .label-error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
 