/* Estilos para el filtro */
.filtros {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Espacio entre los elementos */
    justify-content: start;
  }

  .input-field {
    width: 200px; /* Ajusta el tamaño de los select, puedes cambiarlo si lo deseas */
  }
.filter-container {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    margin-bottom: 0px;
    width: auto;
    gap: 1rem ;
}

.search-input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 30ch; /* El ancho se ajustará automáticamente al contenido */
    margin-right: 10px; /* Espacio entre el input y el botón */
}

.boton-add {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px; /* Ajuste del tamaño del botón */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Ajuste del tamaño del texto */
    width: auto; /* Hace que el ancho del botón sea solo el necesario */
    min-width: 100px; /* Establece un ancho mínimo si es necesario */
}
.boton-download {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px; /* Ajuste del tamaño del botón */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Ajuste del tamaño del texto */
    width: auto; /* Hace que el ancho del botón sea solo el necesario */
    min-width: 100px; /* Establece un ancho mínimo si es necesario */
}


/* Ajuste para el contenedor de filtro en pantallas más pequeñas */
@media (max-width: 768px) {
    .filter-container {
        flex-direction: column; /* Los elementos se apilarán en columnas */
        align-items: flex-start;
    }
    .search-input {
        margin-bottom: 10px;
    }
}