/* Estilos para la tabla */
.Contendor-tabla {
    padding: 20px;
  }
  
  .tabla_registros {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla_registros th, .tabla_registros td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .no-registros {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
  }
  .icon {
    cursor: pointer;
    margin: 0 5px;
  }
  
  .edit-icon {
    color: #007bff;
  }
  
  .delete-icon {
    color: #dc3545;
  }