/* Estilos para la tabla */
.Contenedor-tabla {
    padding: 20px;
    
  }
  
  .tabla_registros {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-head {
    background-color: #00408A !important;
    color: #ced4da !important;
    font-weight: bold;
    border: 1px solid #ced4da;
    padding: 10px;
    text-align: center;
  }
  .tabla-celda{
    border: 1px solid #90A4AE !important;
    vertical-align: middle;
    background-color: #CFD8DC !important;
    text-align: center;
  }

  
  .no-registros {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
  }
  .icon {
    cursor: pointer;
    margin: 0 5px;
  }
  
  .edit-icon {
    color: #007bff;
  }
  
  .delete-icon {
    color: #dc3545;
  }
  .view-icon{
    color: #1F7B00 ;
    cursor: pointer;
  }
  .botones-icon{
    padding-top: 0.8rem;
    display: flex;
    justify-content: space-around;
    height: 2.85rem;
    border: 1px solid #90A4AE;
    vertical-align: middle;
    background-color: #CFD8DC !important;
  }