.boton-add {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el icono y el texto */
    font-size: 18px !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .boton-add:hover {
    background-color: #218838; /* Verde más oscuro en hover */
  }
  
  .boton-add.disabled {
    background-color: #6c757d; /* Gris para deshabilitado */
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .boton-add.disabled:hover {
    background-color: #6c757d; /* Mantiene el color gris en hover */
  }
  
  .icono {
    stroke-width: 5; /* Grosor del icono */
  }