button{
    width: 100%;
    height: 40px;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
 .aceptar {
    background-color: #00008B;
    color: white;
}
.cancelar {
    background-color: #5e5e61;
    color: white;
    }

button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

